@font-face {
  font-family: Sahel;
  src: url('../public/fonts/Sahel.eot');
  src: url('../public/fonts/Sahel.eot?#iefix') format('embedded-opentype'),
       url('../public/fonts/Sahel.woff2') format('woff2'),
       url('../public/fonts/Sahel.woff') format('woff'),
       url('../public/fonts/Sahel.ttf') format('truetype');
  font-weight: normal;
}
      
@font-face {
  font-family: Sahel;
  src: url('../public/fonts/Sahel-Bold.eot');
  src: url('../public/fonts/Sahel-Bold.eot?#iefix') format('embedded-opentype'),
       url('../public/fonts/Sahel-Bold.woff2') format('woff2'),
       url('../public/fonts/Sahel-Bold.woff') format('woff'),
       url('../public/fonts/Sahel-Bold.ttf') format('truetype');
  font-weight: bold;
}

@font-face {
  font-family: Sahel;
  src: url('../public/fonts/Sahel-Light.eot');
  src: url('../public/fonts/Sahel-Light.eot?#iefix') format('embedded-opentype'),
       url('../public/fonts/Sahel-Light.woff2') format('woff2'),  
       url('../public/fonts/Sahel-Light.woff') format('woff'),
       url('../public/fonts/Sahel-Light.ttf') format('truetype');
  font-weight: 300;
}
      
@font-face {
  font-family: Sahel;
  src: url('../public/fonts/Sahel-SemiBold.eot');
  src: url('../public/fonts/Sahel-SemiBold.eot?#iefix') format('embedded-opentype'),
       url('../public/fonts/Sahel-SemiBold.woff2') format('woff2'),  
       url('../public/fonts/Sahel-SemiBold.woff') format('woff'),
       url('../public/fonts/Sahel-SemiBold.ttf') format('truetype');
  font-weight: 600;
}

@font-face {
  font-family: Sahel;
  src: url('../public/fonts/Sahel-Black.eot');
  src: url('../public/fonts/Sahel-Black.eot?#iefix') format('embedded-opentype'),
       url('../public/fonts/Sahel-Black.woff2') format('woff2'),  
       url('../public/fonts/Sahel-Black.woff') format('woff'),
       url('../public/fonts/Sahel-Black.ttf') format('truetype');
  font-weight: 900;
}

*{
  font-family: Sahel;
  margin: 0;
  padding: 0;
  direction: rtl;
  
}

